p {
	border: 2px solid red;
}

.dotted {
	border: 2px red;
	border-style: dotted;
}

.satu {
	/*border-width: 2px;
	border-right-style: groove;
	border-top-style: dotted;
	border-top-color: violet;
	border-bottom-color: blue;
	border-left-style: dashed;*/
	border: 2px solid red;
	border-radius: 10px;
}

.dua {
	border-width: 5px;
	border-style: dashed;
	border-color: blue;	
}

.tiga {
	border-width: 10px;
	border-style: double;
	border-color: salmon;	
}

h1 {
	border: 2px dotted blue;
}